body {
  display: none;
}

video {
  display: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#screen {
  position: absolute;
  z-index: 4;
}

#click_target {
  position: relative;
  z-index: 5;
  opacity: 0;
}

/* no-gutters Class Rules */
.row.no-gutters.inner-layer {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.row.no-gutters > [class^="col-"]{
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.row.no-gutters.top-layer {

}
