video {
  max-width: 100%;
  height: auto;
  display: none;
}

/* no-gutters Class Rules */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.video_hidden {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

section article.video_popup {
  align: center;
  position: relative;
  margin: 10% auto;
  min-width: 400px;
  max-width: 500px;
}

.closing {
  float: right;
}

span {
  color:white;
}

.no-js #loader {display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(Preloader_8.gif) center no-repeat;
}

