body {
  display: none;
}

video {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: fill;
}



/* no-gutters Class Rules */
.row.no-gutters > [class^="col-"]{
  padding-right: 0;
  padding-left: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  overflow: hidden;
}
