.container {
 width: 100%;
 padding: 0 0.2em;
}

.container div {
  display: inline-block;
  margin: 0.2em 0;
}

div {
  width: 20em;
  height: 10em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#blue {
  background-color: blue;
}


#red {
  background-color: red;
}

#green {
  background-color: green;
}


#yellow {
  background-color: yellow;
}

video {

}